.main{
   // border:1px solid green;
    display:flex;
    flex-direction:column ;
    align-items: center;
    padding:2rem;
    min-height:80vh;
    padding-top: 4rem;
    padding-bottom: 10rem;

}
.main h1{
    font-size:3rem;
   // border:1px solid green;
}
.contact{
    width:80%;
}