.main{
   // border:1px solid red;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.socialMediaHeading{
    font-size: 1.7rem;
    padding-top: 1rem;
}
.socialMediaLinks{
    display: flex;
    gap:1rem;
}
.socialMediaLinks svg{
font-size:2.5rem;
}
.socialMediaLinks svg:hover{
   color:orange;
    }
.contactDetails{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.contactLinks{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
   padding: 40px 0px;
}
.contactLinks svg{
    margin-bottom:14px;
    margin-top:10px;
}
.contactDetails p{
    font-size: 1.2rem;
}
.contactDetails svg{
    font-size:1.4rem;
}